* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav img {
  width: 100px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#home {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/bg2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
}

#about {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/bg2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
}

#contact-us {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/bg2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
}

li {
  list-style: none;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ef8354;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

.navbar {
  min-height: 7opx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.text-box {
  align-self: center;
  width: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.7;
  text-align: center;
}

h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  width: 50%;
  text-align: center;
  font-size: 22px;
}

#hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

#hero-btn:hover {
  background-color: #ef8354;
  border: none;
  transform: 1s;
  border: 1px solid #ef8354;
  transition: 0.4s;
}

.about-container {
  display: flex;
  flex-direction: row;
  height: 50vh;
  display: flex;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: px;
}
#about-us {
  background-color: #ef8354;
  justify-content: flex-start;
}

#about-owner {
  background-color: #2d3142;
  justify-content: flex-start;
  color: #fff;
}

article h2 {
  font-size: 50px;
}

article p {
  width: 80%;
}

aside {
  grid-column-start: 2;
}

#form {
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  color: #2d3142;
  display: grid;
  grid-gap: 10px;
}
#form h2 {
  font-size: 24px;
}

#form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #ef8354;
  border: none;
  border-radius: 4px;
}

.input-control {
  display: grid;
}

.input-control input,
select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  padding: 10px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control input:invalid {
  border: 2px solid hsl(0, 100%, 74%);
}

.input-control input:valid {
  border: 2px solid green;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

@media only screen and (max-width: 780px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5px;
    gap: 0;
    flex-direction: column;
    background-color: #ef8354;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    width: 100%;
  }

  #form {
    width: 300px;
  }
  #form label {
    display: none;
  }
}

/* section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 20px;
}
#home {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/bg2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
}

header img {
  width: 150px;
}

header {
  display: flex;
  padding: 0 6%;
  justify-content: space-between;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ef8354;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

.text-box {
  align-self: center;
  width: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.7;
  text-align: center;
}

h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  width: 50%;
  text-align: center;
}

#hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

#hero-btn:hover {
  background-color: #ef8354;
  border: none;
  transform: 1s;
  border: 1px solid #ef8354;
  transition: 0.4s;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    width: 100%;
  }
} */
